<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tp.Mapper.RecipeMapper">
        
        <select id='AllRecipe'
        resultType='com.tp.Vo.Recipe'>
        SELECT * FROM recipe  order by rnum DESC
        </select>
        
        <insert id='RecipeAdd'
        parameterType='com.tp.Vo.Recipe'>
        INSERT INTO Recipe (rnum, title, info, author, hits, recdate, category, how, catemat, human, time, difficult, racc, rpic, howtomake)
        values(
        RNUM_SEQ.NEXTVAL,
        #{title},
        #{info},
        #{author},
        #{hits},
        #{recdate},
        #{category},
        #{how},
        #{catemat},
        #{human},
        #{time},
        #{difficult},
        #{racc},
        #{rpic},
        #{howtomake}
        )
        </insert>
        
        <select id = 'GetRecipe'
        resultType='com.tp.Vo.Recipe'
        parameterType='Integer'>
        SELECT * FROM recipe where rnum=#{rnum}
        </select>
        
        <update id='uphit'
        parameterType='Integer'>
        UPDATE recipe SET hits = hits + 1 WHERE rnum=#{rnum}
        </update>
        
        <select id = 'GetRecipeHit'
        resultType='com.tp.Vo.Recipe'>
        SELECT * FROM (SELECT * FROM recipe ORDER BY hits DESC) WHERE <![CDATA[ ROWNUM <= 3 ]]>
        </select>
        
        <select id = 'GetRecipeRnum'
        resultType='com.tp.Vo.Recipe'>
        SELECT * FROM (SELECT * FROM recipe ORDER BY rnum DESC) WHERE <![CDATA[ ROWNUM <= 5 ]]>
        </select>
        
</mapper>