<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tp.Mapper.UserMapper">
        
        <insert id='UserAdd'
        parameterType='com.tp.Vo.User_info'>
        INSERT INTO User_info (user_id, password, age, gender, country, mg)
        values
        (
        #{user_id},
        #{password},
        #{age}, 
        #{gender},
        #{country},
        #{mg}
        )
        </insert>
        
        <select id='dologin'
        parameterType='com.tp.Vo.User_info'
        resultType='com.tp.Vo.User_info'>
        
    	SELECT user_id, password FROM User_info
    	WHERE user_id = #{user_id}
    	
		</select>
        
</mapper>