<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>게시판 추가</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="../js/BoardAdd.js"></script>

<form id='board'>

	<input type='hidden' name = 'bnum'>
	
	제목<input type='text' name = 'title'>
	내용<textarea rows="2" cols="10"></textarea> 
	
	<button type='button' id='upbtn'>업로드</button>
</form>


</body>
</html>