<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="../js/testing.js"></script>

<form id='test'>
<input type='text' name='mname1'>
<input type='text' name='mname2'>

<input type='text' name='mname6'>

 <button type="button" onclick="submitForm()">Submit</button>
</form>

</body>
</html>