<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>메인페이지</title>
    <!--material icon 링크 가져오기-->
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link href="../css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrap">
      <h1><span class="material-symbols-outlined">Dining</span></h1>
      <p id="dynamic" class="lg-text"></p>
    </div>
    

   <div class="btn">
      <button class="btn1" onclick="location.href='/user/login'">로그인</button>
      <button class="btn2" onclick="location.href='/board/BoardList'">게시판</button>
      <button class="btn3" onclick="location.href='/msel/main'">룰렛+추천</button>
      <button class="btn4" onclick="location.href='guide'">가이드표</button>
  </div>
    
    <!--css에서 만든 액티브를 껐다 키는건(커서깜빡임) js 에서만 가능-->
    <script src="../js/main.js"></script>
  </body>
</html>