<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>메인페이지</title>
    <!--material icon 링크 가져오기-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link href="../css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrap">
      <h1><span class="material-symbols-outlined">Dining</span></h1>
      <p id="dynamic" class="lg-text"></p>
    </div>
    

    <div
      class="button-4"
      onclick="location.href='file:///C:/Users/sn072/Desktop/%EB%B8%8C%EB%9D%BC%EC%BC%93%20htmlcss/%EB%82%98%EC%9D%98%20%ED%99%88%ED%8E%98%EC%9D%B4%EC%A7%80%20-%EC%88%98%EC%BD%94%EB%94%A9+%EA%B0%9C%EB%B0%9C%EC%9E%90%EC%9D%98%ED%92%88%EA%B2%A9/home.html'"
    >
      <div class="eff-4"></div>
      <a>Home</a>
    </div>
	 <button type='button' id='lbtn'>로그인</button>
    <!--css에서 만든 액티브를 껐다 키는건(커서깜빡임) js 에서만 가능-->
    <script src="../js/main.js"></script>
  </body>
</html>
