<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>레시피 등록</title>
    <link rel="stylesheet" href="/css/recipe2.css" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="/js/RecipeAdd.js"></script>
  </head>
  <body>
    <div class="container">
      <form id='recipe'>
        <h1>레시피 등록</h1>
        
        <input type='hidden' name='author'>
		<input type='hidden' name='racc' value='0'>
		<input type='hidden' name='howtomake'>
        <div class="form-group">
        <label>
          <span class='rtxt'>레시피 제목</span> <input type='text' name='title'>
         </label>
        </div>
        <div class="form-group">
          <label for="recipe-img">이미지</label>
          <input type="file" id="recipe-img" name="files" />
        </div>
        <div class="form-group">
          <label for="recipe-desc">소개</label>
         <input type='text' name='info'>
        </div>

        <div class="form-group">
          <label for="recipe-desc">카테고리</label>
         <select name='category'>
		<option value='null'>종류</option>
		<option value='밑반찬'>밑반찬</option>
		<option value='메인반찬'>메인반찬</option>
		<option value='국/탕'>국/탕</option>
		<option value='찌개'>찌개</option>
		<option value='디저트'>디저트</option>
		<option value='면/만두'>면/만두</option>
		<option value='밥/죽/떡'>밥/죽/떡</option>
		<option value='퓨전'>퓨전</option>
		<option value='김치/젓갈/장류'>김치/젓갈/장류</option>
		<option value='양념/소스/잼'>양념/소스/잼</option>
		<option value='양식'>양식</option>
		<option value='샐러드'>샐러드</option>
		<option value='스프'>스프</option>
		<option value='빵'>빵</option>
		<option value='과자'>과자</option>
		<option value='차/음료/술'>차/음료/술</option>
		<option value='기타'>기타</option>
	</select>
          <select name='how'>
	<option value='null'>방법</option>
	<option value='볶음'>볶음</option>
	<option value='끓이기'>끓이기</option>
	<option value='부침'>부침</option>
	<option value='조림'>조림</option>
	<option value='무침'>무침</option>
	<option value='비빔'>비빔</option>
	<option value='찜'>찜</option>
	<option value='절임'>절임</option>
	<option value='튀김'>튀김</option>
	<option value='삶기'>삶기</option>
	<option value='굽기'>굽기</option>
	<option value='데치기'>데치기</option>
	<option value='회'>회</option>
	<option value='기타'>기타</option>
	</select>
    <select name='catemat' text='재료'>
	<option value='null'>재료</option>
	<option value='소고기'>소고기</option>
	<option value='돼지고기'>돼지고기</option>
	<option value='닭고기'>닭고기</option>
	<option value='육류'>육류</option>
	<option value='채소류'>채소류</option>
	<option value='해물류'>해물류</option>
	<option value='달걀/유제품'>달걀/유제품</option>
	<option value='가공식품류'>가공식품류</option>
	<option value='쌀'>쌀</option>
	<option value='밀가루'>밀가루</option>
	<option value='건어물류'>건어물류</option>
	<option value='버섯류'>버섯류</option>
	<option value='과일류'>과일류</option>
	<option value='콩/견과류'>콩/견과류</option>
	<option value='곡류'>곡류</option>
	<option value='기타'>기타</option>
	</select>
	
	<select name='human'>
	<option value='0'>인분</option>
	<option value='1'>1인분</option>
	<option value='2'>2인분</option>
	<option value='3'>3인분</option>
	<option value='4'>4인분</option>
	<option value='5'>5인분이상</option>
	</select>
	<select name='time'>
	<option value='0'>시간</option>
	<option value='1'>5분이내</option>
	<option value='2'>10분이내</option>
	<option value='3'>20분이내</option>
	<option value='4'>30분이내</option>
	<option value='5'>1시간이내</option>
	<option value='6'>2시간이내</option>
	</select>
	<select name='difficult'>
	<option value='null'>난이도</option>
	<option value='아무나'>아무나</option>
	<option value='초급'>초급</option>
	<option value='중급'>중급</option>
	<option value='고급'>고급</option>
	<option value='어려움'>어려움</option>
	</select>
        </div>

        <div class="form-group">
          <label for="recipe-instr">조리방법</label>
          <textarea name='howtom' placeholder="레시피 조리방법 설명"></textarea>
        </div>
        <button type="button" id='upbtn'>등록하기</button>
      </form>
    </div>
  </body>
</html>
