<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>레시피 메인</title>
<link rel="stylesheet" href="/css/RecipeMain.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="path/to/bootstrap.min.js"></script>
</head>
<body>

<div class='all'>
<!-- 조회수 높은 레시피들 몇개 추천해 줄 부분 -->
<div class="hit_rec">
  <!-- [[${recipeh}]] -->
  <!-- [[${reciper}]] -->
  <!-- 최다 조회수 3개 뽑아옴 -->
  <div class='h4b'>
  <h4>최다 조회수 3</h4>
  <a href='/recipe/list/1/20'><button type='button' class='btn'>▶더보기</button></a>
  </div>
  <table class='t1'>
    <tbody>
      <tr th:each="r : ${recipeh}">
        <td>[[${r.rnum}]]</td>
        <td><a th:href="@{/recipe/detail/__${#strings.toString(r.rnum)}__}" th:text="${r.title}"></a></td>
        <td>[[${r.hits}]]</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="all_board">

<div class='h4b'>
 <h4>최신 게시판 5개</h4>
 
 <a href='/recipe/list/1/20'><button type='button' class='btn'>▶더보기</button></a>
 </div>
  <!-- 최신 레시피 게시슬 5개 뽑아옴 -->
  <table>
    <tbody>
      <tr th:each="r : ${reciper}">
        <td>[[${r.rnum}]]</td>
        <td><a th:href="@{/recipe/detail/__${#strings.toString(r.rnum)}__}" th:text="${r.title}"></a></td>
        <td>[[${r.recdate}]]</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="separator"></div>
<!-- 최신 5개 -->
<div class="all_recipe">

<div class='h4b'>
 <h4>최신 레시피 5개</h4>
 
 <a href='/recipe/list/1/20'><button type='button' class='btn'>▶더보기</button></a>
 </div>
  <!-- 최신 레시피 게시슬 5개 뽑아옴 -->
  <table>
    <tbody>
      <tr th:each="r : ${reciper}">
        <td>[[${r.rnum}]]</td>
        <td><a th:href="@{/recipe/detail/__${#strings.toString(r.rnum)}__}" th:text="${r.title}"></a></td>
        <td>[[${r.recdate}]]</td>
      </tr>
    </tbody>
  </table>
</div>

<a href='add'><button type='button'>추가</button></a>
</div>

</body>
</html>
