<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>게시판 추가</title>
</head>
<body>

<form id='RecipeBoard'>
	<input type='hidden' name = 'bnum'>
	제목<input type='text' name = 'title'>
	내용<textarea rows="10" cols="10"></textarea> 
	 
	날짜<input type='date' name='recdate'>
</form>



private int bnum;  		// 시퀀스 레시피 번호	시퀀스 
	private String title;	// 레시피 제목			@
	private String author;	// 작성자				
	private int hits;		// 조회수
	private String contents;
	private java.sql.Date recdate;	// 작성일	

</body>
</html>