<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
[[${r}]]
<br>
레시피 번호 : [[${r.rnum}]]
<br>
레시피 제목 : [[${r.title}]]
<br>
게시일 : [[${r.recdate}]]
<br>
몇인분 : [[${r.human}]]
<br>
난이도 : [[${r.difficult}]]
<br>

조리시간 : 
<th:block th:if="${r.time == 1}">5분이내</th:block>
<th:block th:if="${r.time == 2}">10분이내</th:block>
<th:block th:if="${r.time == 3}">20분이내</th:block>
<th:block th:if="${r.time == 4}">30분이내</th:block>
<th:block th:if="${r.time == 5}">1시간이내</th:block>
<th:block th:if="${r.time == 6}">2시간이내</th:block>

<br>

<a href='/recipe/main'><button type='button'>홈</button></a>
<a href='/recipe/list/1/1'><button type='button'>목록</button></a>
<a th:href="@{/recipe/delete/{rnum}(rnum=${r.rnum})}"><button type='button'>삭제</button></a>


</body>
</html>