<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>레시피 추가</title>
</head>
<body>

<script src="../js/RecipeAdd.js"></script>

<div> 레시피 등록
<form id='recipe'>
	<span class='rtxt'>레시피 제목</span> <input type='text' name='title'>
	<br>
	<span class='rtxt'>소개</span> <input type='text' name='content'>
	<br>
	<span class='rtxt'>카테고리</span> 
	<select name='categoty'>
	<option>종류</option>
	<option>b</option>
	</select>
	
	<select name='categoty1'>
	<option>방법</option>
	<option>b</option>
	</select>
	
	<select name='categoty2'>
	<option>재료</option>
	<option>b</option>
	</select>
	
	<br>
	
	<span class='rtxt'>요리정보</span> 
	<select name='categoty2'>
	<option>인분</option>
	<option>b</option>
	</select>
	
	<select name='categoty2'>
	<option>시간</option>
	<option>b</option>
	</select>
	
	<select name='categoty2'>
	<option>난이도</option>
	<option>b</option>
	</select>
	
	<br>
	<input type="file" onchange='readURL(this);' name ='mainimg'  accept="image/*"> <!--  required multiple 여러개 업로드 -->
	
	<img id='mainpreview' width='100' height='100'>
	
	<hr>
	
</form>
</div>

</body>
</html>