<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메뉴추가</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="../js/mseladd.js"></script>

<form id='abc'>

<input type="radio" name='mg' value='전체' checked>전체
<input type="radio" name='mg' value='육식'>육식+채식
<input type="radio" name='mg' value='채식'>채식
<input type="radio" name='mg' value='간식'>간식

<br>

<input type="radio" name='country' value='한식' checked>한식
<input type="radio" name='country' value='중식'>중식
<input type="radio" name='country' value='일식'>일식
<input type="radio" name='country' value='양식'>양식
<input type="radio" name='country' value='그외'>그외

<br>

<input type='text' name='mname'>

<button type='button' id='upbtn'>ㅇㅇ</button>
</form>

</body>
</html>