* {
  background-size: cover;
  background-position: center center;
  margin: 0;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

form {
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

button[type="button"] {
  display: block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #3e8e41;
}

select {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.separator {
  border-right: 1px solid #ccc;
  height: 100%; /* 수직선의 길이를 페이지 전체로 설정합니다. */
  position: absolute; /* 페이지 내에서 위치를 설정합니다. */
  top: 0;
  right: 50%; /* 오른쪽으로 정렬합니다. */
  z-index: 1; /* 다른 요소들 위에 나타나도록 설정합니다. */
}
