.grid1{
	display: grid;
	grid-template-rows : 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
	grid-template-columns : 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
}

.grid1 div{
	border : 1px solid black;
}

.grid2{
	grid-row:3/8;
	grid-column:9/14;
}

.grid3{
	grid-row:3/4;
	grid-column:1/8;
}

.grid4{
	grid-row:5/8;
	grid-column:1/8;
}
